<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>application submitedt</title>
</head>
<body>
    <p>your application for the job {{job['title']}} has been submited</p>
    <h4>full name</h4>
    <div>
        {{application['full_name']}}
    </div>
    <h4>email</h4>
    <div>{{application['email']}}</div>
    <br>
     <h4>liked url</h4>
     <br>
    <div>{{application['linkedinurl']}}</div>
     <h4>education</h4>
     <br>
    <div>{{application['education']}}</div>
    <br>
     <h4>work experience</h4>
     <br>
    <div>{{application['experience']}}</div>
</body>
</html>